<div class="row">
  <h1
    id="services"
    class="display-4"
    style="text-align: center; margin-bottom: 4rem"
  >
    Otros Servicios
  </h1>
  <div class="col-lg-4">
    <div>
      <img
        style="width: 140px; height: 140px; border-radius: 50%"
        src="../../../assets/depilacion.jpeg"
        alt="manosCinco"
      />
    </div>
    <h2>
      ¡Resalta tu belleza natural con nuestro servicio de depilación de cejas y
      barba profesional!
    </h2>
    <p>
      Te brindaremos una experiencia única de cuidado personal. Con precisión y
      destreza, daremos forma a tus cejas para resaltar tus rasgos únicos y
      realzar tu expresión facial. Además, si buscas una barba perfectamente
      definida y bien cuidada, nuestro servicio de depilación de barba te dejará
      luciendo impecable y elegante. Confía en nosotros para obtener resultados
      de calidad y una apariencia fresca y pulida. ¡Agenda tu cita hoy y
      descubre cómo nuestras habilidades pueden transformar tu look!
    </p>
    <p><a class="btn btn-secondary" href="#">Agendar cita &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <div>
      <img
        style="width: 140px; height: 140px; border-radius: 50%"
        src="../../../assets/peinados.jpg"
        alt="manosCinco"
      />
    </div>
    <h2 class="fw-normal">
      ¡Destaca en cualquier ocasión con nuestros elegantes peinados sociales!
    </h2>
    <p>
      En nuestro estudio de belleza, entendemos lo importante que es lucir
      espectacular en eventos especiales. Somos expertos en peinados y te
      ayudaremos a crear el look perfecto que complemente tu estilo y resalte tu
      belleza única. Ya sea un peinado romántico, moderno, clásico o audaz,
      estamos aquí para hacer realidad tus deseos. Con atención meticulosa a los
      detalles y una pasión por la creatividad, te aseguramos que te sentirás
      seguro y radiante en cualquier evento importante. ¡Agenda tu cita y
      permítenos convertir tu cabello en una obra de arte que deje una impresión
      duradera!
    </p>
    <p><a class="btn btn-secondary" href="#">Agendar cita &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <div>
      <img
        style="width: 140px; height: 140px; border-radius: 50%"
        src="../../../assets/artistico.jpg"
        alt="manosCinco"
      />
    </div>
    <h2 class="fw-normal">Maquillaje artistico</h2>
    <p>
      ¡Desata tu creatividad con nuestro servicio de maquillaje artístico! En
      nuestro estudio de belleza, sabemos que el maquillaje no solo es una forma
      de realzar la belleza, sino también una expresión artística. Nuestro
      equipo de maquilladores profesionales está aquí para ayudarte a
      transformar tu rostro en una verdadera obra de arte. Ya sea que estés
      buscando un look audaz y extravagante para un evento temático o un
      maquillaje artístico delicado y elegante para una sesión de fotos, estamos
      listos para hacer realidad tus visiones más creativas. Con productos de
      alta calidad y técnicas innovadoras, te garantizamos un maquillaje
      artístico que capturará la atención y despertará admiración. ¡Permítenos
      llevar tu rostro a un nivel completamente nuevo de expresión artística!
    </p>
    <p><a class="btn btn-secondary" href="#">Agendar cita &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
</div>
