<h1
  id="services"
  class="display-4"
  style="text-align: center; margin-bottom: 4rem"
>
  Nuestros Servicios
</h1>
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
      Tecnica en cuidado de manos y pies.
    </h2>
    <p class="lead">
      Somos profesionales especializados en brindar servicios de manicura y
      pedicura, centrados en el cuidado y embellecimiento de las uñas, manos y
      pies de nuestros clientes. Nuestro principal objetivo es proporcionar
      tratamientos y procedimientos para mejorar la apariencia estética de las
      manos y pies, así como también mantener la salud y el bienestar de estas
      áreas del cuerpo.
    </p>
  </div>
  <div class="col-md-5">
    <img style="width: 300px" src="../../../assets/manicurista.jpg" alt="" />
  </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">
      Técnica Laboral por Competencias en Maquillaje Profesional
    </h2>
    <p class="lead">
      Estamos altamente capacitados en el arte y la técnica del maquillaje,
      especializados en brindar servicios de maquillaje tanto para eventos
      especiales como para producciones artísticas. Nuestro enfoque principal es
      resaltar la belleza natural de las personas y crear efectos visuales
      específicos utilizando una variedad de productos y técnicas de maquillaje.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img style="width: 300px" src="../../../assets/maquillaje.jpg" alt="" />
  </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
      Técnica Laboral por Competencias en Cuidado de la Imagen
    </h2>
    <p class="lead">
      Capacitados en una gran variedad de técnicas relacionadas con el
      embellecimiento y el cuidado personal. Con un enfoque integral en el
      cuidado de la piel, cabello y apariencia general, esta técnica está
      especializada en brindar una gama de servicios que realzan la imagen de
      nuestros clientes.
    </p>
  </div>
  <div class="col-md-5">
    <img
      style="width: 300px"
      src="../../../assets/embellecimiento.jpg"
      alt=""
    />
  </div>
</div>
